body {
    font-family: "Poppins";
    color: beige;
    background-color: black;
}
.container {
    max-width: 80%;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
}
header {
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5 )),
url("Images/amsterdam.webp");
background-size: cover;
background-repeat: no-repeat;
text-align: center;
padding: 180px 0;

}

header h2 {
font-size: 70px;
font-weight: 600;
line-height: 1;
margin: 30px 0;
}
header h3 {
font-size: 35px;
font-weight: 200;
line-height: 1.4;
margin: 0;
}

header a {
    display: inline-block;
    font-size: 18px;
    color: pink;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 30px;
    padding: 18px;


}
section {
    max-width: 1200px;
    margin: 0 auto;
}
footer {
    background-image: linear-gradient(rgba(19, 14, 6, 0.8), rgba(19, 14, 6, 0.9)), url("Images/amsterdam.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;

}
footer h4 {
    font-weight: 600;
    font-size: 33px;
    line-height: 30px;

}
footer p {
    color: white;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.7;
    margin-right: 20px;

}
footer ul {
    padding: 0
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;


}
footer a {
    color: white;
    opacity: 0.7;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 960px) {
    header h2 {
        font-size: 45px;
    }
    header h3 {
        font-size: 20px
    }
    header a {
        font-size: 12px;
        }
}